<div class="col-md-2">
    <div class='blog-item'>
        <h4>友情链接</h4>
        <ul>
            <li>
                <a href="//isocpp.org" target="_blank">isocpp</a>
            </li>
            <li>
                <a href="//purecpp.org" target="_blank">purecpp</a>
            </li>
            <li>
                <a href="//wanqu.co" target="_blank">湾区日报</a>
            </li>
            <li>
                <a href="//cnodejs.org" target="_blank">nodejs中文社区</a>
            </li>
        </ul>
    </div>
</div>