{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block title %}

{{ user.username }}

{% endblock %}

{% block page_content %}

<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h3>{{ user.username }}</h3>
        {% if user.name %}
        <p>
            姓名 ：
            {{ user.name }}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p>
            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </p>
        {% endif %}
        {% if user.about_me %}
        <p>关于 ：{{ user.about_me }}</p>
        {% endif %}
        <p>注册时间 ：{{user.member_since.strftime('%Y-%m-%d %H:%M:%S')}}</p>
        <p>最近登录 ：{{user.last_seen.strftime('%Y-%m-%d %H:%M:%S')}} </p>
        <p>总计 ：{{ user.posts.count() }}篇博客</p>
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">修改个人信息</a>
            {% endif %} {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile') }}">修改个人信息 [Admin]</a>
            {% endif %}
        </p>
    </div>
</div>

{% include '_posts.html' %} {% endblock %}