[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"autopep8" = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pylint = "*"
flask-mail = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-login = "*"
datetime = "*"
flask-moment = "*"
flask-pagedown = "*"
markdown = "*"
bleach = "*"

[requires]
python_version = "3.6"
