[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
pylint = "*"
flask-mail = "*"

[requires]
python_version = "3.6"
